.menu-header {
  font-weight: 600;
  color: #293845;
}

.header-container {
  padding-top: 6vh;
  padding-bottom: 8vh;
  height: 26vh;
  text-align: center;
  text-transform: uppercase;
}

.gif-list-container {

}

.fluid-container {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 8vh;
  align-items: center;
}