.App {
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
}

.header {
  padding-top: 10vh;
  font-weight: 600;
  color: #293845;
}

.giphy-main-logo {
  padding-top: 10vh;
  max-width: 360px;
}

.list-menu {
  padding-top: 10vh;
  list-style: none;
  padding-left: 0;
}

.list-menu > li {
  padding-bottom: 20px;
}

.main-menu {

}
